<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadLiebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f8b54a458.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <img class="logo-mercado-liebre" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            <div class="form" action="#" method="GET">
                <input type="text" placeholder="Buscar...">
                <button class="btn-submit"><i class="fa fa-search"></i></button>
            </div>
            <p ><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="./register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <button><i class="fa fa-bars burger"></i></button>
        </div>
    </header>
    <main>
        <form action="/" class="contenedor-form">
            <div class="contenido-form">
                <p class="elementos-form">
                    <input type="text" name="" id="nomuser" placeholder="Nombre de Usuario">
                </p>
                <p class="elementos-form">
                    <input type="password" name="" id="contra" placeholder="Contraseña">
                </p>
            </div>
            <input type="submit" class="btn-g" name="submit" id="submit" value="INGRESAR">
        </form>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="info-footer"><i class="fa-solid fa-credit-card"></i><h3>Paga con tarjeta o en efectivo</h3><p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p></div>
            <div class="info-footer"><i class="fa-solid fa-gift"></i><h3>Envio gratis desde los $2.500</h3><p>Solo por estar registrad@ en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de MercadoPuntos.</p></div>
            <div class="info-footer"><i class="fa-solid fa-user-shield"></i><h3>Seguridad de principio a fin</h3><p>No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p></div>
        </div>
        <h4>Copyright © 1999-2022 MercadoLiebre S.R.L</h4>
    </footer>
</body>
</html>